.App {
  font-family: sans-serif;
  text-align: center;
}

.HeaderPart {
  width: 100%;
  height: 30px;
  background-color: darkslateblue;
  color: aliceblue;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
}
